@using System.Security.Claims
@model FlatLine.Models.Course

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var authorId = User.Claims?.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)?.Value;
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<h1 style="text-align: center;font-family: Montserrat;font-weight: 900;">
    @Html.DisplayFor(model => model.Name)
</h1>
<hr />
<div class="hero" style="gap:150px!important;">
    <div class="hero-image">
        @if (Model.ProfilePicture != null)
        {
            <img src="@Url.Action("GetProfilePicture", "Courses", new { id = Model.Id })" alt="Course Picture" class="course-image" />
        }
        else
        {
            <div class="no-image">No Image Available</div>
        }
    </div>

    <div class="hero-content">
        

        <p class="course-description">@Html.DisplayFor(model => model.LongDescription)</p>
        <p class="course-price">Cena: @Html.DisplayFor(model => model.Price)$</p>
        <div class="course-actions" style="text-align:center!important;">
            <a asp-action="Edit" asp-route-id="@Model.Id"><button id="btn" style="border:2px solid #0a5025">Edit</button></a>
        </div>
    </div>
</div>
<div style="text-align:right;width:100%;font-weight:bold;">
    <a asp-action="Index">Nazad na kurseve</a>
</div>
