@model IEnumerable<FlatLine.Models.Course>
@using System.Security.Claims;
<link rel="stylesheet" href="~/css/kurs.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

     var authorId = User.Claims?.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)?.Value;
     var emailPrefix = User.Identity?.Name?.Split('@')[0];
}

<div class="course-container" style="margin-bottom:20px;">
    @foreach (var item in Model)
    {
        <div class="course-card">
            <div class="course-content">
                <div class="course-image">
                    @if (item.ProfilePicture != null)
                    {
                        <img src="@Url.Action("GetProfilePicture", "Courses", new { id = item.Id })" alt="Course Picture" class="profile-pic" />
                    }
                    else
                    {
                        <div class="no-image">No Image Available</div>
                    }
                </div>
                <div class="course-details">
                    <h3 class="course-title">@Html.DisplayFor(modelItem => item.Name)</h3>
                    <p class="course-description">@Html.DisplayFor(modelItem => item.ShortDescription)</p>                  
                    <p class="course-price">Cena: @Html.DisplayFor(modelItem => item.Price)$</p>
                    <p class="course-duration">Trajanje: @Html.DisplayFor(modelItem => item.Duration)</p>
                    <div class="course-actions">
                        @if (User.Identity.IsAuthenticated && item.Author == authorId)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-edit">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-delete">Delete</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-details">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create"><button id="btn">Dodaj kurs</button></a>
    }
</p>
